/*全局样式*/
*{margin-left: 20; margin-right: 20; padding: 0;}
body{margin:0 auto; background-color: #f4f4f4}

/*导航栏样式*/
nav {height: 50px; background-color: #5c7a29; text-align: center; line-height: 50px; display: flex; justify-content: center;}
nav ul {list-style-type: none; margin: 0; padding: 0; display: flex;}
nav ul li {width: 100px; margin-right: 15px;}
nav ul li a {color: white; text-decoration: none; padding: 10px;}
nav ul li a:hover {text-decoration: underline;}

/*页脚样式*/
footer {width: 100%; margin:0 auto; background: #5c7a29; height: 50px; text-align:center; line-height: 50px; color: #ffffff}

/*标题样式*/
h2 {line-height: 40px; font-size: 30px; color:#5c7a29; margin: auto; margin-left: 20px; margin-top: 10px}
hr {color: #5c7a29; size: 3; width: 99%}

video {display: block; text-align: center; margin: 10px auto; width: 50%; 
	min-width: 600px;}

h3 {width: 50%; margin: auto; text-align: center;}

 /* 整体照片容器样式 */
.photo-container {display: flex; flex-wrap: wrap; justify-content: space-around; gap: 10px;}
 /* 单张照片及相关信息的容器样式 */
.photo-item {width: 260px; text-align: center;}
.photo-item img {width: 195px; height: 260px; object-fit: cover;}
.photo-item a {color: #5c7a29; text-decoration: none; font-size: 14px}
.photo-item a:hover {text-decoration: underline;}

.container {display: flex; justify-content: space-between; align-items: flex-start;}

/* 表单容器样式 */
form {background-color: white; border-radius: 5px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); padding: 20px; width: 300px; margin: 50px auto; line-height: 35px}
/* 提交按钮样式 */
input[type="submit"] {display: block; margin: 20px auto; padding: 0.5em 2em;}

/* 留言展示区域样式 */
.message-board {background-color: white; border-radius: 5px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); padding: 20px; width: 300px; margin: 50px auto;}
.message-item {border-bottom: 1px solid #ccc; padding: 10px 0; margin-bottom: 10px;}
.message-item p {margin: 0}
